.c-img img {
  width: 250px;
  height: 318px;
  object-fit: cover;
}

.c-img-2 img {
  width: 260px;
  height: 250px;
  object-fit: cover;
}

.paragraph-tag p {
  padding: 2px 0;
}

@media only screen and (max-width: 600px) {
  .c-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }
}
